<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
        <div id="bloc_page">
            <div id="img_contact">
                <img src="/../../assets/Contact.jpg">
            </div>
            <section>
                <article>
                    <div>
                        <h1 align="center">Un renseignement, un devis ?</h1>
                        <h1 align="center">Nous sommes à votre écoute. Réponse rapide garantie!</h1>
                    </div>
                    <iframe src="http://www.ma-carte-geographique.com/my-google-maps.php?SID=1493754349-Sg2hY" width="502" height="430" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0" scrolling="no" align="right"></iframe>
                    <div id="help">
                        <table width="359" height="250" border="0" align="center">
                            <tr>
                                <td width="51" height="50"><img src="/../../assets/adresse.png" width="30" height="30" /></td>
                                <td width="298"><span class="Style6">TechnoZone, Montpellier </span></td>
                            </tr>
                            <tr>
                                <td height="50"><img src="/../../assets/phone-call.png" width="30" height="30" /></td>
                                <td><span class="Style6">+33 02 02 01 06 08</span></td>
                            </tr>
                            <tr>
                                <td height="50"><img src="/../../assets/mail.png" width="30" height="30" /></td>
                                <td><span class="Style4">TechnoZone@TechnoZone.fr</span></td>
                            </tr>
                        </table>
                        

                    </div>
                    
                    <div align="center">
                        <p>Faculté des Sciences de Montpellier, Place E. Bataillon 30, 34095 Montpellier<br>
                            Tel : +33 02 02 01 06 08 <br>
                            Service commercial: commercial@TechnoZone.com<br>
                            Service technique: support@TeechnoZone.com<br>
                            Direction générale: info@TechnoZone.com</p>
                    </div>
                    
                    
                </article>
            </section>

            <section>
                <article>
                        <div align="center" class="Style5">Follow Us
                            <p id="contact_res">
                                <a href="facebook.com"><img src="/../../assets/RS/Facebook.png"></a>
                                <a href="twitter.com"><img src="/../../assets/RS/Twitter.png"></a>
                                <a href="instagram.com"><img src="/../../assets/RS/Instagram.png"></a>
                            </p>
                        </div>
                </article>
            </section>
        </div>
	</body>
</html>