<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
        <div id="bloc_page">
			<div id="img_notre_equipe">
				<img src="/../../assets/notre equipe.jpg">
			</div>

			<section>
				<article>
					<table border=0>
						<tr>
						   <td><img src="/../../assets/Bahaa.png">  </td>
						   <td> 
								<br>Nom & Prénom: Nil Bahaa Eddine<br>
								Profession: Président fondateur de TechnoZone<br>
								Email: <a href="mailto:?to:nilbahaaeddine@gmail.com">nilbahaaeddine@gmail.com</a><br>
								Téléphone: 079 257 0345<br>
						   </td>
						</tr>

						<tr>
						   <td><img src="/../../assets/Imene.png">  </td>
						   <td> 
								<br>Nom & Prénom: Farhi Imene<br>
								Profession: Administrateur réseau sénior<br>
								Email: <a href="mailto:?to:imenefarhii@gmail.com">imenefarhii@gmail.com</a><br>
								Téléphone: 079 568 0855 <br>
						   </td>
						</tr> 

						<tr>
						   <td><img src="/../../assets/Sihem.png"></td>
						   <td> 
								<br>Nom & Prénom: Ait Saadi Sihem<br>
								Profession: Responsable du département de bureautique<br>
								Email: <a href="mailto:?to:sihem.aitsaadi@yahoo.fr"> sihem.aitssadi@yahoo.fr </a><br>
								Téléphone: 078 270 0757<br><br>
						   </td>
						</tr> 
						
						<tr>
						   <td><img src="/../../assets/Feriel.png"></td>
						   <td> 
								<br>Nom & Prénom: Fourour Feriel<br>
								Profession: Secrétaire comptable<br>
								Email: <a href="mailto:?to:fourour.feriel@gmail.com"> fourour.feriel@gmail.com</a><br>
								Téléphone: 054 231 0560<br>
						   </td>
						</tr>
						
						<tr>
						   <td><img src="/../../assets/Chahinez.png"></td>
						   <td> 
								<br>Nom & Prénom: Benallal Chahinez<br>
								Profession: Responsable des ventes<br>
								Email: <a href="mailto:?to:chahin.ben@gmail.com"> chahin.ben@gmail.com</a><br>
								Téléphone: 055 780 0028<br>
						   </td>
						</tr> 
						<tr>
						   <td><img src="/../../assets/Sabrina.png">  </td>
						   <td> 
								<br>Nom & Prénom: Ait Saadi Sabrina<br>
								Profession: Responsable du service aprés vente<br>
								Email: <a href="mailto:?to:sabrina.aitssadi@yahoo.fr"> sabrina.aitssadi@yahoo.fr</a> <br>
								Téléphone: 078 270 0754<br>
						   </td>
						</tr>
					</table>
				</article>
				<aside id="equipe">
					<h1>Notre Équipe</h1><br>
					<p>Voici les membres de l’équipe qui compose TechnoZone</p>
					<hr>
					<p>Leader en développement de logiciels de gestion d’entreprises, spécialisée aussi bien dans les solutions standards que spécifiques et notamment les solutions métier comme dans les domaines de l’hospitalier, de l’hôtellerie, du transport, de la location, …Etc. La Division d'édition et de développement des logiciels est constituée, essentiellement, d’équipes d’ingénieurs développeurs regroupés autour de chefs de produits. Ils sont chargés de la conception, de la réalisation et du paramétrage des logiciels, conformément aux standards de gestion et aux cahiers de charges des clients. Plus de 20 produis réalisés durant 11 années de savoir faire en architecture des systèmes d'information.</p>
					<hr>
					<p>Notre équipe dispose, aujourd'hui, d’un large champ de savoir-faire : Nous éditons des logiciels standards (gestion du personnel, gestion commerciale, gestion des stocks et des approvisionnements, gestion financière) et des logiciels spécifiques conformes aux cahiers de charges des clients lorsque des besoins particuliers sont exprimés spécifiquement aux domaines d’activités des entreprises qui les demandent. Toute notre force réside dans cette capacité à développer des solutions en y intégrant les spécificités nécessaires et cela à des coûts très compétitifs et en un temps optimum.</p>
					<hr>
					<p>Beaucoup d'importance est accordée aux nouveautés et à l’innovation technologique : Nos équipes suivent et utilisent toujours les nouvelles technologies informatiques afin de garantir les meilleures performances en diversifiant les types de solutions. Cela est notamment le cas pour la suite de solutions en technologie Web.</p>
				</aside>
			</section>
		</div>
	</body>
</html>